@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.agriczone--objective--bg {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7));
  /* url('../../public/farm-market-05.jpg'); */
  background-size: cover;
  background-position: center;
  scroll-behavior: smooth;

  /* Fallback options */
}
/* .bg--glass {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

.container--image {
  position: relative;
  display: inline-block;
}

.container--image--experts::after {
  content: 'Certified Experts';
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: center;
  color: white;
  font-size: 2rem;
}
.container--image--marketplace::after {
  content: 'Marketplace';
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: center;
  color: white;
  font-size: 2rem;
}
.container--image--traders::after {
  content: 'Reliable Traders';
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: center;
  color: white;
  font-size: 2rem;
}

/* .container--image:hover::after {
  opacity: 1;
} */
